body{
font-family: Montserrat;
}
.NAVB{
background-color: #051937;
font-family: Montserrat;
border-radius: 0.2rem;
}

.NAVBT{
font-family: Montserrat;
}

.FOOTB{
font-family: Pattaya;
color: aliceblue;
}

.FOOTBB{
    color: aliceblue;
}

/* home */
.HomeFont{
font-family: pattaya;
font-size: 5rem;
color: #051937;
}

.HomeText{
    font-family: pattaya;
    font-size: 6rem;
    color: #051937;  
}
.Hometext2{
    font-family: Montserrat;
    font-size: 2.5rem;
    color: #051937;
}

.HomeFontCommon{
font-family: pattaya;
font-size: 5rem;
color:white;
}

.HomeFontCommonSUB{
font-family: Montserrat;
font-size: 2rem;
color:white;
}

.Bottom{
margin-bottom: 14rem;
}
/* 
footer */
.SUB{
color: antiquewhite;
text-decoration: none;
}

.Hometext{
    font-family: Montserrat;
}
/* __________________________________________
SIDEBAR___________________________________ */

/* product */
.ProductCard{
    font-family: Montserrat;
}

.Loaderfont{
    margin-top: 20rem;
    font-family: Pattaya;
    font-size: 8rem;
}

.Rotate{
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {transform: rotate(180deg);}
}

/* cart */
.CartQuantity{
    color: aliceblue;
    font-size: 1.2rem;
    font-family: Montserrat;  
}

