body{
font-family: Montserrat;
}
.NAVB{
background-color: #051937;
font-family: Montserrat;
border-radius: 0.2rem;
}

.NAVBT{
font-family: Montserrat;
}

.FOOTB{
font-family: Pattaya;
}

/* home */
.HomeFont{
font-family: pattaya;
font-size: 5rem;
color: #051937;
}

.HomeFontCommon{
font-family: pattaya;
font-size: 5rem;
color:white;
}

.HomeFontCommonSUB{
font-family: Montserrat;
font-size: 2rem;
color:white;
}

.Bottom{
margin-bottom: 14rem;
}
/* 
footer */
.SUB{
color: antiquewhite;
text-decoration: none;
}


/* __________________________________________
SIDEBAR___________________________________ */

